<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List City</title>
</head>
<body>
<a href="/create-city">Create new city</a>
<h1>List city</h1>
<table border="1">
    <tr>
        <td>Name_city:</td>
        <td>Area_city:</td>
        <td>Population_city:</td>
        <td>GDP_city:</td>
        <td>Description_city:</td>
        <td>Nation:</td>
        <td>Edit:</td>
        <td>Delete:</td>
    </tr>
    <th:block th:each="city : ${cities}">
        <tr>
            <td th:text="${city.name_city}"></td>
            <td th:text="${city.area_city}"></td>
            <td th:text="${city.population_city}"></td>
            <td th:text="${city.gdp_city}"></td>
            <td th:text="${city.description_city}"></td>
            <td th:text="${city.nation.name_nation}"></td>
            <td><a th:href="@{/edit-city/__${city.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-city/__${city.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>